:root {
	--border-radius: 0.4rem;
}

* {
	background-image: unset !important;
	width: unset !important;
	color: inherit !important;
}

html {
	background-color: var(--background-color-100) !important;
	color: var(--text-color-200) !important;
}

body {
	padding-block: 5rem !important;
	margin: 0;
	min-height: calc(100vh - 10rem) !important;
}

p {
	color: var(--text-color-200) !important;
}

table {
	border-radius: var(--border-radius) !important;
	overflow: hidden !important;
	width: 100% !important;
}

.table th {
	color: var(--text-color-200) !important;
}

.list {
	background-color: var(--background-color-300) !important;
	margin-top: 1rem !important;
	color: var(--text-color-200) !important;
}

td {
	border-color: var(--accent-bg-color-200) !important;
}

th {
	border: 0 !important;
}

table thead {
	background-color: var(--accent-bg-color-100) !important;
	border-color: var(--background-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

span {
	color: inherit !important;
}

.bodyContainer {
	width: unset !important;
	max-width: 1500px !important;
	background-color: unset !important;
	min-width: 1200px !important;
}

.nav,
.article {
	background-color: var(--background-color-200) !important;
	padding: 0rem 2rem !important;
	margin-inline: 10rem !important;
	border-radius: var(--border-radius);
	color: var(--text-color-200) !important;
}

.article {
	padding-bottom: 5rem !important;
	margin-left: 32.5rem !important;
	width: unset !important;
}

.scoreboard {
	width: calc(100vw - 60rem) !important;
	max-width: 74rem !important;
	min-width: 518px !important;
	left: 0 !important;
	margin-left: 30rem;
}

#ctl00_PageLogo {
	/* content: url('data:image/svg+xml;utf-8,<svg id="Lager_1" data-name="Lager 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 560.22 309.7"><defs><style>.velling-text{fill:#000000;}.cls-2{fill:#1c5ba3;}.cls-3{fill:#fff;}</style></defs><path class="velling-text" d="M225.23,137.68l-34.68,76h-8.11l-36.36-76h20.37l19.85,42.87,18.79-42.87Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M288.14,199v13.75H232.82v-75h54.57v13.75H251.51v15.74h34.21v13.75H251.51v18Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M358.64,199v13.75h-57.2v-75h18.69V199Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M425.33,199v13.75H368.12v-75h18.69V199Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M454.14,137.68v75H435.45v-75Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M546.45,137.68v75H530.66l-41.41-48.07v48.07H470.56v-75H487.7l40.06,45.87V137.68Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M633.92,142.89v16.38q-14.34-6.93-28-6.93-13.2,0-20.35,6.66a22.21,22.21,0,0,0-7.15,17,20.08,20.08,0,0,0,7.15,16q7.14,6.12,18.8,6.12a31.12,31.12,0,0,0,12.4-2.68v-8.76H605.88V172.91h29.6v30.67q-4.46,4.47-13.56,7.28a60.68,60.68,0,0,1-18,2.82q-19.6,0-32.2-10.82a34.7,34.7,0,0,1-12.6-27.53q0-17.09,12.6-27.85t32.63-10.77Q620.88,136.71,633.92,142.89Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M706.3,199v13.75H651v-75h54.57v13.75H669.67v15.74h34.21v13.75H669.67v18Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M406.54,227.64l-15.11,21.81L411.92,274H397.48l-18.4-21.75V274H367.53V227.64h11.55v20.88l14.75-20.88Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M436.63,227q11.87,0,19.19,7.15t7.34,16.66a22.31,22.31,0,0,1-7.44,16.7q-7.43,7.06-19.09,7.07t-19.19-7a22.29,22.29,0,0,1-7.4-16.73,22.52,22.52,0,0,1,7.35-16.67Q424.74,227,436.63,227Zm0,38q6.58,0,10.59-3.9a15.08,15.08,0,0,0,0-20.5q-4-3.89-10.59-3.89T426,240.59a15.05,15.05,0,0,0,0,20.5Q430,265,436.63,265Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M496.75,244.84l14.91-17.2h10.05V274H510.15V245.07l-12.53,14.54h-1.74l-12.52-14.54V274H471.8V227.64h10Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M557.19,244.84l14.91-17.2h10V274H570.59V245.07l-12.53,14.54h-1.74l-12.53-14.54V274H532.24V227.64h10Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M627.07,227.64h11.56V254q0,10.16-6,15.4t-17.17,5.25q-11,0-17.12-5.31T592.24,254V227.64h11.59V254.3a10.08,10.08,0,0,0,3.17,7.77,11.78,11.78,0,0,0,8.32,2.92,12.06,12.06,0,0,0,8.55-3q3.2-3,3.2-8.5Z" transform="translate(-146.08 -136.71)"/><path class="velling-text" d="M695.91,227.64V274h-9.76l-25.6-29.71V274H649V227.64h10.6L684.35,256V227.64Z" transform="translate(-146.08 -136.71)"/><path class="cls-2" d="M339.59,347.83a244.17,244.17,0,0,1-5.65,28.69c-11.9,44.65-36.66,69.89-87.6,69.89-51.8,0-76.3-26.69-87.88-69.89a229.7,229.7,0,0,1-5.37-26.76c-5-34.66-5-76.56-5-122.11H344.63C344.8,274.11,344.27,314.67,339.59,347.83Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M339.59,347.83a244.17,244.17,0,0,1-5.65,28.69H158.46a229.7,229.7,0,0,1-5.37-26.76h13.46V314.45h32.83V276.93h33.38V243.55h30.07v33.11h32.83v35.58h32.27v35.59Z" transform="translate(-146.08 -136.71)"/><path class="cls-2" d="M259,340.76h2.53V310.14h-2.24c1.31-8.88,3.73-16.71,7.17-21.59l-6.31-5.69c-5.5,5.62-9.33,15.71-11.22,27.28h-3.49c-1.89-11.57-5.72-21.66-11.22-27.28l-6.31,5.69c3.45,4.88,5.86,12.71,7.17,21.59h-4.17v30.62h4.46c-1.34,10.23-4.2,19.12-8.7,23.83l8.59,5c5.69-6.87,9.17-17.35,10.67-28.79h2.51c1.5,11.44,5,21.92,10.67,28.79l8.59-5C263.18,359.88,260.32,351,259,340.76Zm-7.08-9H240.83V320.69H251.9Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M176.55,392.59s3-5.8,22.62-5.45,30.35,4.41,30.35,6-14.14,6.76-26.21,6.83H202c-11.62,0-22.87-1.24-23.93-3S175.66,396.1,176.55,392.59Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M205.24,403.55c1.52.28,3-3.25,2.07-3.17-2,.17-5.87-1-5.87-1S203.38,403.21,205.24,403.55Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M219.31,400.34c2.79-.2,3.87-3.19,3-2.82-1.85.78-7.73.89-7.73.89S214.91,400.67,219.31,400.34Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M202.6,381c4.48.54,8,5.19,6.35,5.73-1,.35-10.57,1-10.57,1S200.36,380.69,202.6,381Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M191.08,406.06c.23,1.53,3.88.26,3.73-2.26-.11-2-3.24-5.49-3.24-5.49S190.2,400.1,191.08,406.06Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M235.84,392.38c5.94-5.61,2.94-6.83-3.44-4.06-2.71,1.17-5.21,5.64-5.21,5.64S229.43,398.42,235.84,392.38Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M235.61,396c5.95,5.61,2.94,6.82-3.44,4.06-2.71-1.18-5.21-5.64-5.21-5.64S229.2,389.94,235.61,396Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M253.14,393.32s3-5.8,22.62-5.45,30.35,4.41,30.35,6-14.14,6.76-26.21,6.82h-1.31c-11.62,0-22.87-1.24-23.93-3S252.25,396.83,253.14,393.32Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M281.83,404.28c1.52.28,3-3.25,2.07-3.17-2,.17-5.87-1-5.87-1S280,403.94,281.83,404.28Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M295.9,401.07c2.79-.2,3.87-3.19,3-2.82-1.85.78-7.73.89-7.73.89S291.5,401.4,295.9,401.07Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M279.19,381.69c4.48.54,8,5.19,6.35,5.73-1.05.35-10.57,1-10.57,1S277,381.42,279.19,381.69Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M267.67,406.79c.23,1.53,3.88.26,3.73-2.26-.11-2-3.24-5.49-3.24-5.49S266.79,400.83,267.67,406.79Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M312.43,393.11c5.95-5.61,2.94-6.83-3.44-4.06-2.71,1.17-5.21,5.64-5.21,5.64S306,399.15,312.43,393.11Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M312.2,396.72c5.95,5.61,2.94,6.82-3.44,4.06-2.71-1.18-5.21-5.64-5.21-5.64S305.79,390.67,312.2,396.72Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M216.07,423.31s3-5.79,22.62-5.45,30.34,4.42,30.34,6-14.13,6.76-26.2,6.83h-1.31c-11.62,0-22.87-1.24-23.94-3S215.17,426.83,216.07,423.31Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M244.76,434.28c1.51.28,3-3.26,2.07-3.18-2,.18-5.87-1-5.87-1S242.9,433.93,244.76,434.28Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M258.83,431.07c2.79-.21,3.87-3.19,3-2.83-1.86.79-7.74.9-7.74.9S254.43,431.4,258.83,431.07Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M242.12,411.69c4.47.54,8,5.18,6.35,5.72-1.06.36-10.58,1-10.58,1S239.87,411.41,242.12,411.69Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M230.6,436.79c.22,1.52,3.88.25,3.73-2.27-.12-2-3.24-5.48-3.24-5.48S229.72,430.82,230.6,436.79Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M275.35,423.1c5.95-5.61,2.94-6.82-3.44-4.06-2.71,1.18-5.2,5.64-5.2,5.64S269,429.15,275.35,423.1Z" transform="translate(-146.08 -136.71)"/><path class="cls-3" d="M275.12,426.71c5.95,5.61,2.94,6.83-3.44,4.06-2.71-1.17-5.2-5.64-5.2-5.64S268.72,420.67,275.12,426.71Z" transform="translate(-146.08 -136.71)"/></svg>'); */
	/* content: var(--logo-url) !important; */
	/* content: url("https://svgur.com/i/cVE.svg"); */
	width: 80%;
	margin-bottom: 2rem;
}

.vellinge-text {
	fill: #ffffff !important;
}

.nav {
	display: block !important;
}

.nav h2 {
	height: 5rem !important;
}

.nav .logo {
	text-align: center !important;
	margin-left: unset !important;
}

.nav .search {
	width: unset !important;
	margin-inline: 4px;
}

.nav .search p {
	margin: 0 !important;
	background-color: var(--accent-bg-color-200) !important;
	border-radius: var(--border-radius);
	color: var(--accent-text-color-100) !important;
}

.nav .search .rcbInput {
	margin-left: 1rem !important;
	width: 95% !important;
	color: var(--accent-text-color-100) !important;
}

.nav .searchButton {
	background-image: var(--search-url) !important;
	background-repeat: no-repeat !important;
}

#ctl00_SearchTB_Arrow {
	display: none !important;
}

.nav .scoreboard .topmenu li a {
	color: var(--text-color-500) !important;
}

.nav .scoreboard .topmenu li.topmenu-myhome a {
	background-image: var(--home-profile-url) !important;
}

.nav .scoreboard .topmenu li.topmenu-messages a {
	background-image: var(--messages-url) !important;
}

.nav .scoreboard .topmenu li.topmenu-relations a {
	background-image: var(--contacts-url) !important;
}

.nav .scoreboard .topmenu li.topmenu-feed a {
	background-image: var(--feed-url) !important;
}

.nav .scoreboard .topmenu li.topmenu-settings a {
	background-image: var(--account-url) !important;
}

.nav .scoreboard .topmenu li.topmenu-logout a {
	background-image: var(--logout-url) !important;
}

.nav .leftmenu {
	background-color: unset !important;
}

.nav .leftmenu li {
	background-color: var(--background-color-400) !important;
	border: 0 !important;
	border-radius: var(--border-radius) !important;
	color: var(--text-color-200) !important;
}

.bodyContainer .nav ul.leftmenu li:hover {
	background-color: var(--background-color-500) !important;
}

.nav .leftmenu li a {
	padding-left: 6.5rem !important;
}

.books * {
	background-image: var(--side-test-url) !important;
}

.kalender * {
	background-image: var(--side-calendar-url) !important;
}

.minakurser * {
	background-image: var(--side-course-url) !important;
}

.klass * {
	background-image: var(--side-class-url) !important;
}

.minafiler * {
	background-image: var(--side-files-url) !important;
}

.skola * {
	background-image: var(--side-school-url) !important;
}

.tools * {
	background-image: var(--side-tools-url) !important;
}

.Teams * {
	background-image: var(--side-teams-url) !important;
}

.help * {
	background-image: var(--side-help-url) !important;
}

.Paper * {
	background-image: var(--side-swap-url) !important;
}

.functions * {
	background-image: var(--side-pc-url) !important;
}

.liveatedu * {
	background-image: var(--side-cloud-url) !important;
}

.article h1 span {
	text-align: center !important;
	width: 100% !important;
	margin-top: 1rem !important;
}

.article-content {
	padding-left: unset !important;
}

.metainfo {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-500) !important;
	margin-right: unset !important;
	border-radius: var(--border-radius) !important;
	margin-bottom: 1rem !important;
}

.article-content .metainfo a {
	color: inherit !important;
}

strong {
	color: inherit !important;
}

.start-top {
	width: unset !important;
	display: flex !important;
	border-radius: var(--border-radius) !important;
	overflow: hidden !important;
}

.start-left {
	width: 100% !important;
	background-color: var(--background-color-300) !important;
	border-right: 2px solid var(--background-color-200) !important;
	color: var(--text-color-200) !important;
}

.start-left > a {
	margin-left: 1rem;
}

.left-topic,
.right-topic {
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
	border: unset !important;
}

.newsPost {
	background-color: var(--background-color-200) !important;
	border-radius: var(--border-radius) !important;
	border: none !important;
	color: var(--text-color-200) !important;
}

.start-right {
	float: right !important;
	background-color: var(--background-color-300) !important;
	width: 189px !important;
	color: var(--text-color-200) !important;
}

.lessonsTodayList {
	margin-top: 2rem !important;
}

.lessonsTodayList li {
	border-radius: var(--border-radius) !important;
	background-color: var(--background-color-200) !important;
	padding: 1em 1.5em !important;
	color: var(--text-color-200) !important;
}

h3 {
	color: var(--text-color-500) !important;
}

/* .newsDate,
.newsInfo,
b {
	color: var(--text-color-200) !important;
} */

.class-list {
	background-color: var(--background-color-300) !important;
}

.profil-actions {
	right: 0 !important;
}

.profil-actions li a {
	background-color: var(--background-color-400) !important;
	background-image: var(--lates-url) !important;
	padding-inline: 1rem !important;
	background-position-x: 1rem;
	border-radius: var(--border-radius) !important;
	margin-right: 0.5rem !important;
	color: var(--text-color-200) !important;
}

#toggleBarFlaerp,
#toggleBar {
	background-color: var(--background-color-500) !important;
	color: var(--text-color-200) !important;
}

#toggleBarFlaerp {
	width: 60px !important;
	background-image: var(--menu-url) !important;
}

#toggleBar {
	width: 230px !important;
}

#myToolsBox {
	background-color: var(--background-color-400) !important;
	width: 219px !important;
	color: var(--text-color-200) !important;
}

.hide-menu-button,
#showmainmenubutton,
.nav-small {
	display: none !important;
}

#schemeContainer,
#SchemeNav,
.headline {
	width: unset !important;
}

.time-table {
	width: 100% !important;
	max-width: unset !important;
	border-width: 2px !important;
}

.rtsLink,
.headline {
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

.scheme-actions-students li * {
	background-color: var(--background-color-400) !important;
	padding: 0rem 1rem !important;
	border-radius: var(--border-radius);
	color: var(--text-color-200) !important;
}

.scheme-actions-students li *:hover {
	background-color: var(--background-color-500) !important;
}

.scheme-actions-students .timetable * {
	background-image: var(--timetable-calendar-url) !important;
}

.scheme-actions-students .subscribe * {
	background-image: var(--timetable-feed-url) !important;
}

.scheme-actions-students .print * {
	background-image: var(--timetable-print-url) !important;
}

.time-table .emptyCell,
table.time-table th,
table.time-table td.dayevents,
table.time-table td.toggleEventBox,
.time-table {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-500) !important;
	border-color: var(--background-color-100) !important;
}

.time-table .emptyCell {
	background-color: var(--background-color-200) !important;
	color: var(--text-color-200) !important;
}

table.time-table td.resv-span6 {
	background-color: var(--background-color-400) !important;
	color: var(--text-color-500) !important;
	border-color: var(--background-color-100) !important;
}

.list td.kurs {
	background-image: var(--course-url) !important;
}

.actions {
	right: 0 !important;
}

.actions li a {
	background-color: var(--background-color-500) !important;
	text-align: center !important;
	text-indent: 0 !important;
	width: unset !important;
	padding: 1.5rem 2rem !important;
	line-height: unset !important;
	border-radius: var(--border-radius);
	color: var(--text-color-200) !important;
}

.headline {
	margin-right: 0 !important;
	margin-top: 1rem !important;
	margin-bottom: 0 !important;
	color: var(--text-color-500) !important;
}

.deltagare-list {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
}

.basicInfoPanel {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
	border: none !important;
	margin-top: 0 !important;
	border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.rmpView .headline {
	border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}

.messagethread-metainfo {
	background-color: var(--accent-bg-color-100) !important;
	margin: unset !important;
	margin-bottom: 1rem !important;
	border-radius: var(--border-radius) !important;
	color: var(--accent-text-color-100) !important;
}

.messagethread-metainfo .search {
	border: none !important;
}

.messagethread-metainfo .meta-actions a {
	display: none !important;
}

.article-big .content-big {
	background-color: var(--background-color-300) !important;
	margin-right: unset !important;
	overflow: hidden;
	border-radius: var(--border-radius) !important;
	color: var(--text-color-200) !important;
}

.messagethread-client-toolbar {
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

.RadGrid {
	border: none !important;
}

.RadGrid .rgMasterTable {
	padding: 0 1.5rem !important;
}

.RadGrid .rgMasterTable colgroup *:nth-child(1),
.RadGrid .rgMasterTable colgroup *:nth-child(4) {
	width: 25px !important;
}

.RadGrid .rgMasterTable colgroup *:nth-child(2) {
	width: 20px !important;
}

.messagethread-list-topic {
	color: var(--text-color-200) !important;
}

.messagethread-list-topic a {
	color: var(--text-color-500) !important;
}

.messagethread-client-toolbar a {
	background-color: var(--background-color-500) !important;
	border: none !important;
	padding: 0.75rem 1rem !important;
	color: var(--text-color-200) !important;
}

.messagethread-client-toolbar .single-actions .disabled {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
}

.messagethread-list-toolbar > * {
	background-color: var(--background-color-400) !important;
	color: var(--text-color-200) !important;
}

.messagethread-list-toolbar .filter .current {
	background-color: var(--background-color-500) !important;
	color: var(--text-color-200) !important;
}

.messagethread-metainfo .meta-actions input {
	background-color: var(--background-color-500) !important;
	color: var(--text-color-200) !important;
	padding: 0.25rem 1rem !important;
	transform: translateY(-0.25rem);
}

.profil {
	padding-left: unset !important;
}

.profil-metainfo {
	background-color: var(--accent-bg-color-100) !important;
	border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
	margin-right: unset !important;
	margin-bottom: unset !important;
	color: var(--accent-text-color-100) !important;
}

.friends-new {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
	margin-right: unset !important;
}

.dataTables_filter {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
	margin-right: unset !important;
	border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.dataTables_filter input {
	background-color: var(--background-color-500) !important;
	border-radius: var(--border-radius) !important;
	border: none !important;
	margin-right: 1rem !important;
	margin-bottom: 0.75rem !important;
	padding: 0.25rem 1rem;
	color: var(--text-color-200) !important;
}

.dataTable {
	color: var(--text-color-200) !important;
}

.friends {
	margin-top: 1rem !important;
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
}

.feed {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
}

.profile-feed {
	background-color: unset !important;
}

.feed-body {
	width: calc(100% - 60px) !important;
}

.feed-body a {
	color: var(--text-color-500) !important;
}

.feed-date {
	color: var(--text-color-200) !important;
}

.profil-top,
.guestbook-top,
.guestbook-post {
	background-color: var(--background-color-300) !important;
	border: unset !important;
	color: var(--text-color-200) !important;
}

.profil-left {
	border-right: 2px solid var(--accent-bg-color-100) !important;
	padding-right: 1rem !important;
	color: var(--accent-text-color-100) !important;
}

.profil-right-bar {
	padding-left: 1rem !important;
}

.profil-left,
.profil-right-bar,
#pressframe {
	background-color: unset !important;
}

.guestbook-metainfo {
	margin-right: unset !important;
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

.guestbook-top .multiline-input {
	background-color: var(--background-color-500) !important;
	color: var(--text-color-200) !important;
}

.guestbook-text {
	width: calc(100% - 55px) !important;
}

.profil-info li {
	color: var(--text-color-500) !important;
}

.eventsOverviewControl table {
	background-color: var(--background-color-200) !important;
	color: var(--text-color-200) !important;
	margin-top: 1rem !important;
}

.eventsOverviewControl .monthHeadline {
	background-color: var(--accent-bg-color-100) !important;
	margin-top: 1rem !important;
	padding-inline: 1rem !important;
	color: var(--accent-text-color-100) !important;
}

.eventsOverviewControl table tr .DayInfo:nth-child(even) {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
}

.eventsOverviewControl table tr .WeekTD {
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

.eventsOverviewControl table tr th {
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

.eventsOverviewControl .monthHeadline .NextMonthLB {
	float: right !important;
}

.eventsOverviewControl .monthHeadline span {
	margin-left: calc(50% - 110px) !important;
}

.eventsOverviewControl .lessonObject {
	background-color: var(--background-color-500) !important;
	color: var(--text-color-500) !important;
}

.eventsOverviewControl .lessonObject:hover {
	background-color: var(--accent-bg-color-200) !important;
	color: var(--accent-text-color-100) !important;
}

.eventsOverviewControl .vacantDayObject {
	background-color: var(--accent-color-100) !important;
}

.eventsOverviewControl .vacantDayObject:hover {
	background-color: var(--accent-color-200) !important;
}

.myschool .lunch {
	margin-top: 1rem !important;
	border-radius: var(--border-radius) !important;
	overflow: hidden !important;
}

.myschool .lunch dt {
	margin: unset !important;
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

.myschool .lunch dd {
	background-color: var(--background-color-300) !important;
	padding-top: 1rem !important;
	color: var(--text-color-200) !important;
}

.fileList td {
	background-color: unset !important;
}

.education-menu li {
	background-color: var(--background-color-300) !important;
	border-bottom: 1px solid var(--background-color-400) !important;
	color: var(--text-color-200) !important;
}

.education-menu {
	border-radius: var(--border-radius) !important;
	overflow: hidden !important;
}

.list tr:nth-child(even) {
	background-color: var(--background-color-400) !important;
	color: var(--text-color-200) !important;
}

.judgementPostBox {
	background-color: var(--accent-bg-color-100) !important;
	border: unset !important;
	color: var(--accent-text-color-100) !important;
}

#judgementLogContainer2 {
	border: unset !important;
	overflow: hidden !important;
}

a.saveButton {
	background-color: var(--accent-bg-color-200) !important;
	border: unset !important;
	border-radius: var(--border-radius) !important;
	padding: 0.5rem 1rem !important;
	color: var(--accent-text-color-100) !important;
}

.pageSubHeadline {
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
	margin: unset !important;
	border-radius: var(--border-radius) !important;
}

.curriculumCourses .RadGrid .rgMasterTable .rgHeader {
	background-color: var(--accent-bg-color-100) !important;
	color: var(--accent-text-color-100) !important;
}

.curriculumCourses .RadGrid .rgMasterTable {
	border-radius: var(--border-radius) !important;
	overflow: hidden !important;
	margin-top: 1rem !important;
}

.RadGrid_Default .rgGroupHeader,
.RadGrid_Default .rgMasterTable td.rgGroupCol,
.RadGrid_Default .rgMasterTable td.rgExpandCol,
.curriculumCourses .RadGrid .rgMasterTable .rgFooter td {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
}

.curriculumCourses .RadGrid .rgMasterTable .rgAltRow,
.curriculumCourses table .rgRow {
	background-color: var(--background-color-200) !important;
	color: var(--text-color-200) !important;
}

.RadGrid_Default {
	background-color: unset !important;
}

.headerAttendance {
	background-color: var(--accent-bg-color-100) !important;
	margin: unset !important;
	margin-top: 1rem !important;
	color: var(--accent-text-color-100) !important;
}

.attendanceCoursePanel {
	background-color: var(--background-color-300) !important;
	color: var(--text-color-200) !important;
	border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.CourseSummaryAttendance {
	color: var(--text-color-200) !important;
	width: 50% !important;
}

.attendanceCoursePanel .statTable {
	width: 50% !important;
	margin-left: auto;
}

.SummaryAttendance {
	color: var(--text-color-200) !important;
}

#ctl00_ContentPlaceHolder2_resultsPanel > div {
	background-color: var(--background-color-400) !important;
}
